* {
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  /*background-image:  url("https://imgur.com/uKHIBfJ.png")//
} 

/* Style the header */
header {
    grid-area: header;
    background-color:  #cc3f10;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    text-align: center;
  }
  
/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  } 

  .hero-image {
   ;
  }


  .left,
  .middle,
  .right {
    padding: 10px;
  }
  
  /* left column */
  .left {
    grid-area: left;
    grid-area: middle;
    padding: 10px;
    margin-top:100px;
    align-content: left;
    display: inline-block;
  }
  
  /* middle column */
  .middle {
    grid-area: middle;
    border: solid 1px black;
    padding: 10px;
    margin-top:100px;
    align-content: left;
    display: inline-block;
  }
  
  /* right column */
  .right {
    grid-area: right;
    border
    padding: 10px;
    margin-top:100px;
    align-content: left;
    display: inline-block;
  }
  
  /* footer */
  footer{
    grid-area: footer;
    background-color:#cc3f10;
  
    padding: 10px;
    text-align: center;
  }
  
h1, h2 {
	font-weight: 300;
}
